<div class="comment-form">
    <form action="/article/<%- article.id %> " method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" value=""><br>
        <label for="comment">Comment</label><br>
        <textarea name="comment" value=""></textarea>
        <br>
        <button type="submit">Send</button>
    </form>
</div>
